extends layout/layout.jade
block section
	section.app_content
		.box_center
			.app_box
				.menu
					ul
						li.first.active Beneficios
						li Mis tarjetas
						li.last Recargas
				.purple_box
					p.yellow_text.small_text Beneficios para ti
					p.small_text Por ser 
						strong miembro del Coney Club 
						| cuentas con las siguientes grandes beneficios
					.options
						.col_3.left
							.circle
							p.p_16 Hasta 
								span 
									strong 20% de descuento en todos los juegos. 
								| Según el tipo de local
						.col_3.left
							.circle
							p.p_16
								span
									strong 20 Coney Bonos gratis 
								| el día de tu cumpleaños (Presentando su DNI)
						.col_3.right
							.circle
							p.p_16
								span
									strong Descuentos exclusivos 
								| por recargas en fechas especiales (Día de los enamorados, día de la madre y padre, halloween, etc.)
					.bar_info
						.left
							p.p_16 Asocia tus tarjetas, haciendo clic en el siguiente botón: 
						.right
							button.btn.btn_orange 
								span.text Asociar tarjetas
								span.icon
					.benefits_offers
						p.yellow_text.small_text Promociones
						.offers_box_two
							.left
								.text
									h4 ¡COLECCIONA DIVERSIÓN!
									p.p_12 ¡Por recargas de S/ 30 llévate 30 en saldo y un VASO 3D!
							.right
								p Promoción 1
									span . Ver legal
								p Recarga 
									strong S/.100
									|, obten 
									strong S/.50 
									|soles adicionales 
									strong + S/.30 
									|en Coney Bonos
								button.btn.btn_orange Comprar
						.offers_box_three
							.col_3.left
								.box_white
									.image
										img(src="../images/benefit_1.png", alt="")
									span Promoción 1 Ver legal
									p Por lanzamiento, recarga 
										strong S/.100 
										| y obten
										strong S/.50
										|soles adicionales 
										strong + S/.30 
										|en Coney Bonos
								button.btn.btn_orange Comprar
							.col_3.left
								.box_white
									.image
										img(src="../images/benefit_2.png", alt="")
									span Promoción 1 Ver legal
									p Por lanzamiento, recarga 
										strong S/.100 
										| y obten
										strong S/.50
										|soles adicionales 
										strong + S/.30 
										|en Coney Bonos
								button.btn.btn_orange Comprar
							.col_3.right
								.box_white
									.image
										img(src="../images/benefit_3.png", alt="")
									span Promoción 1 Ver legal
									p Por lanzamiento, recarga 
										strong S/.100 
										| y obten
										strong S/.50
										|soles adicionales 
										strong + S/.30 
										|en Coney Bonos
								button.btn.btn_orange Comprar
					hr
					.info_box
						span.icon
						//span.text También puedes acercarte a cualquiera de nuestras sedes, indicando tu cuenta de correo electrónico junto con la tarjeta que desees recargar.







					
			