extends layout/layout.jade
block section
	section.app_content.recargas
		.box_center
			.app_box
				.menu.right_active
					ul
						li.first Beneficios
						li Mis tarjetas
						li.last.active Recargas
				.purple_box
					p.yellow_text.small_text Recarga de mis tarjetas
					.steps
						.step.active 1
						.step.active 2
					a.cart_box(href="")
						span.label Items en el carrito:
						.cart
							span.icon
							span.number 0
					.pay_box_white.cart_page
						.left
							// Carrito vacío
							.empty_cart
									span.icon
									h2 ¡Tu carrito esta vacío!
									p Puedes ver todo lo que tenemos para ti en
									a.link_orange(href="") Promociones y recargas
							// Carrito con items
							.items_cart
								.item
									.left
										img(src="../images/card_mini_1.png", alt="")
									.right
										span.remove_icon x
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											.card_name
												span
												select
													option(value="") Tarjeta para cumpleaños
											select.cant(name="") 
												option(value="") 01
												option(value="") 02
												option(value="") 03
												option(value="") 04
												option(value="") 05
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 50
											| .00
								.item
									.left
										img(src="../images/card_mini_2.png", alt="")
									.right
										span.remove_icon x
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											.card_name
												span
												select
													option(value="") Tarjeta para Pamela
											select.cant(name="") 
												option(value="") 01
												option(value="") 02
												option(value="") 03
												option(value="") 04
												option(value="") 05
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 30
											| .00
								.item
									.left
										img(src="../images/card_mini_3.png", alt="")
									.right
										span.remove_icon x
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											.card_name
												span
												select
													option(value="") Tarjeta de Maria Emilia
											select.cant(name="") 
												option(value="") 01
												option(value="") 02
												option(value="") 03
												option(value="") 04
												option(value="") 05
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 20
											| .00
							
						.right
							h4 Pago total
							.total_box(align="center")
								h3
									span.medium S/. 
									span.large 150
									span.medium .00
								button.btn.btn_orange Pagar
								a.link_orange(href="") Seguir comprando  
			#modal_watch_legal.modal_box
				.modal_content
					h3 Importante:
					hr
					.text_box
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt leo erat. Maecenas dapibus, diam quis dapibus elementum, risus diam congue risus, vitae tristique magna orci et sem. Aliquam congue ut tellus eu ultricies. Vestibulum tristique sapien sit amet accumsan feugiat. Integer congue suscipit dictum. Ut a nisl tempus, ornare erat at, ultrices lectus. Suspendisse pulvinar eros vel finibus ultricies. Maecenas lacinia, tellus ac egestas tincidunt, turpis ipsum pulvinar arcu, et blandit purus lectus vitae odio. Phasellus lobortis, orci non efficitur consectetur, mauris urna ornare nisl, non sodales lectus sapien ac diam. Morbi ligula lorem, tristique in cursus et, vulputate quis lorem. Suspendisse ut erat turpis. 
						p Sed sed tellus pulvinar, lobortis est sit amet, mollis lectus. Suspendisse semper vestibulum erat at lacinia. Mauris eget quam sit amet magna rutrum maximus in sed ipsum. Etiam libero justo, dictum non malesuada ut, ullamcorper at leo. Vestibulum accumsan condimentum lectus, et faucibus justo sodales non. Aliquam dictum ipsum sit amet nisl elementum commodo ut ut ligula. Aliquam sagittis fermentum gravida. Vestibulum eu neque eget neque placerat ullamcorper at sit amet mauris. Morbi tellus odio, lacinia a libero sed, congue cursus urna. 
						p Suspendisse potenti. Quisque ipsum ante, luctus quis leo sit amet, mattis convallis enim. Donec feugiat vehicula felis. In lacinia quis est eget tempus. Pellentesque vulputate augue vel nibh sagittis sollicitudin. Etiam eu laoreet tellus. Sed id fermentum lorem. Fusce feugiat, libero nec finibus egestas, tellus risus dignissim dui, ultricies condimentum lectus erat et leo. Integer semper erat sit amet ex tempor, sed eleifend libero venenatis. Proin a arcu quis arcu dapibus tristique. Fusce vehicula diam vitae diam faucibus rutrum quis et leo. Nullam ex metus, mollis eget dignissim quis, bibendum et mauris. Integer bibendum, lacus sit amet tincidunt aliquam, sapien arcu tempor nisi, eget egestas massa felis ut purus. Nulla a purus a nisl tincidunt scelerisque. Proin tempor arcu et tortor lacinia, ac pellentesque eros consectetur. Aenean eget eros in lectus auctor finibus ac nec ex.
			#mask
							