extends layout/layout.jade
block section
	section.app_content.recargas
		.box_center
			.app_box
				.menu.right_active
					ul
						li.first Beneficios
						li Mis tarjetas
						li.last.active Recargas
				.purple_box.final_page
					p.yellow_text.small_text Recargas de mis tarjetas
					.steps
						.step.active 1
						span.yellow
						.step.active 2
					.pay_box_white.confirmation_box
						h2 ¡FELICITACIONES!
						P Andrea, ¡tu recarga fue realizada con éxito!
						h5 Número de recarga: 123456
						.resume
							.head
								ul
									li Promoción
									li Tarjeta
									li Cantidad
									li Precio
							.body
								ul
									li 
										span.label Promoción
										span.desc Promoción 1
									li
										span.label Tarjeta
										span.name Tarjeta Cumpleaños
										span.number 000 - 00000003 - 89
									li.cantidad
										span.label Cantidad
										span.desc 1
									li.precio
										span.label Precio
										span.desc S/. 50.00
								ul
									li Recargas 2
									li
										span.name Tarjeta Ana
										span.number 000 - 00000003 - 89
									li 2
									li S/. 100.00
								ul
									li Promoción 3
									li
										span.name Ahijado tarjeta
										span.number 000 - 00000003 - 89
									li 1
									li S/. 50.00
							.total TOTAL: S/.200.00
						.info
							p Para activar tu tarjeta recuerda que primero debes pasarla por el punto de verificación del local en el que deseas jugar y recuerda hacerlo cada vez que cambies de local. 
								br 
								|Te hemos enviado un correo con el detalle de tu compra.
							a(href="") Seguir comprando


					
			