extends layout/layout.jade
block section
	section
		.box_center
			.welcome_box
				h2 ¡Bienvenido a 
					span Coney Club 
					|recargas virtuales!
				h3 ¡Un club creadopara todos aquellos que buscan 
					span más diversión 
					|por mucho menos!
				p Ahora podrás hacer tus recargas 
					strong sin necesidad, 
					|además podrás gozar de 
					strong muchos beneficios
				.yellow_box Regístrate
				.purple_box
					.content
						.left
							p Usando tus redes sociales
							button.btn.btn_fb
								span.icon
								span.text Facebook
							button.btn.btn_tw
								span.icon
								span.text Twitter
						.right
							p Registrando tu correo electrónico
							input(type="text" placeholder="ejemplo@micorreo.com")
							button.btn.btn_orange Registrarme
					hr
					.login_link
						a(href="") Ya tengo una cuenta en Coner Park
							span