extends layout/layout.jade
block section
	section
		.box_center
			.box_left
				.grid_340
					h3 Regístrate
					p Con tus redes sociales
					.social_buttons
						a.btn.btn_fb(href="")
							span.icon
							span.text Facebook
						a.btn.btn_tw(href="")
							span.icon
							span.text Twitter
					p o con tu correo electrónico
					.box_email_register
						input(type="text" placeholder="correo electrónico")
						a.btn.btn_register(href="") Registrarme
					a.purple_link(href="") Yo tengo una cuenta en Coney Park
			.box_right
				h3 ¡Bienvenido a Coney Club y recargas virtuales!
				p ¡Un Club creado para todos aquellos que buscan más diversión por mucho menos! Ahora podrás hacer tus recargas sin necesidad de hacer colas, además podrás gozar de muchos beneficios, solo debes seguir los siguientes pasos:
				p.step 1. Registrarme en la página.
				p.step 2. Confirma tu cuenta de correo.
				p.step 3. Asocia tu tarjeta a la cuenta que acabas de crear.
				p.step 4. Disfruta de todos los descuentos que tenemos para ti!.