html
	head
		title hola mundo
		meta(name="description", content="Welcome")
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		
	body
		header
			img.bg(src="../images/top.png", alt="")
			.box_center
				.social_icons
					a(href="")
						span.fb
					a(href="")
						span.in
				nav
					ul
						li
							a(href="")
								.icon
									span.icon_local
								span.text LOCALES
						li
							a(href="")
								.icon
									span.icon_offers
								span.text PROMOCIONES
						li
							a(href="")
								.icon
									span.icon_atraction
								span.text NUESTRAS ATRACCIONES
						li.logo
							a(href="")
								img(src="../images/logo.png", alt="Coney Park") 
						li
							a(href="")
								.icon
									span.icon_sale
								span.text VENTAS CORPORATIVAS
						li
							a(href="")
								.icon
									span.icon_card
								span.text TARJETA CONEXIÓN
						li
							a(href="")
								.icon
									span.icon_gold
								span.text CLIENTE GOLD

		//JS
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="../js/index.js")