html
	head
		title hola mundo
		meta(name="description", content="Welcome")
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		
	body
		header
			img.bg(src="../images/top.png", alt="")
			.box_center
				.social_icons
					a(href="")
						span.fb
					a(href="")
						span.in
				nav
					ul
						li
							a(href="")
								.icon
									span.icon_local
								span.text LOCALES
						li
							a(href="")
								.icon
									span.icon_offers
								span.text PROMOCIONES
						li
							a(href="")
								.icon
									span.icon_atraction
								span.text NUESTRAS ATRACCIONES
						li.logo
							a(href="")
								img(src="../images/logo.png", alt="Coney Park") 
						li
							a(href="")
								.icon
									span.icon_sale
								span.text VENTAS CORPORATIVAS
						li
							a(href="")
								.icon
									span.icon_card
								span.text TARJETA CONEXIÓN
						li
							a(href="")
								.icon
									span.icon_gold
								span.text CLIENTE GOLD
		.right_options
			ul
				li
					a(href="")
						span.icon.icon_gold
						span.text CLIENTE GOLD
				li
					a(href="")
						span.icon.icon_card
						span.text RECARGAS
				li
					a(href="")
						span.icon.icon_birthday
						span.text CUMPLEAÑOS
		section
			.box_center
				.box_left
					.grid_340
						h3 Regístrate
						p Con tus redes sociales
						.social_buttons
							a.btn.btn_fb(href="")
								span.icon
								span.text Facebook
							a.btn.btn_tw(href="")
								span.icon
								span.text Twitter
						p o con tu correo electrónico
						.box_email_register
							input(type="text" placeholder="correo electrónico")
							a.btn.btn_register(href="") Registrarme
						a.login_link(href="") Yo tengo una cuenta en Coney Park
				.box_right
					h3 ¡Bienvenido a Coney Club y recargas virtuales!
					p ¡Un Club creado para todos aquellos que buscan más diversión por mucho menos! Ahora podrás hacer tus recargas sin necesidad de hacer colas, además podrás gozar de muchos beneficios, solo debes seguir los siguientes pasos:
					p.step 1. Registrarme en la página.
					p.step 2. Confirma tu cuenta de correo.
					p.step 3. Asocia tu tarjeta a la cuenta que acabas de crear.
					p.step 4. Disfruta de todos los descuentos que tenemos para ti!.

		//JS
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="../js/index.js")