extends layout/layout.jade
block section
	section
		.box_center
			.welcome_box
				h2 ¡Ahora 
					span recárgate de diversión 
					|con un click!
				p Te invitamos a ser parte de Coney Club y a realizar todas tus recargas de una manera más rápida, 
					strong sin necesidad de hacer colas
					|, además, tendrás 
					strong promociones exclusivas 
					|que no te puedes perder.
				.yellow_box Inicia sesión
				.purple_box
					.content
						.left
							p Usando tus redes sociales
							button.btn.btn_fb
								span.icon
								span.text Facebook
							button.btn.btn_tw
								span.icon
								span.text Twitter
						.right
							p Con tu correo electrónico
							input(type="text" placeholder="ejemplo@micorreo.com")
							input(type="password" placeholder="contraseña")
							button.btn.btn_signin Iniciar Sesión
							.login_link
								a(href="") Olvidé mi contraseña
					hr
					.login_link
						a(href="") Aún no tengo cuenta como socio de Coney Club
							span
				.offers_box
					.col_3.left
						img(src="../images/promo1.png", alt="")
						p Por lanzamiento, recarga 
							strong S/.100 
							| y obten
							strong S/.50
							|soles adicionales 
							strong + S/.30 
							|en Coney Bonos
					.col_3.left
						img(src="../images/promo2.png", alt="")
						p Por lanzamiento, recarga 
							strong S/.100 
							| y obten
							strong S/.50
							|soles adicionales 
							strong + S/.30 
							|en Coney Bonos
					.col_3.right
						img(src="../images/promo3.png", alt="")
						p Por lanzamiento, recarga 
							strong S/.100 
							| y obten
							strong S/.50
							|soles adicionales 
							strong + S/.30 
							|en Coney Bonos








