extends layout/layout.jade
block section
	section
		.box_center
			.box_left
				.grid_340
					h3 Inicia sesión
					p Con tus redes sociales
					.social_buttons
						a.btn.btn_fb(href="")
							span.icon
							span.text Facebook
						a.btn.btn_tw(href="")
							span.icon
							span.text Twitter
					p o con tu correo electrónico
					.box_email_register
						input(type="text" placeholder="correo electrónico")
						input(type="text" placeholder="contraseña")
						a.btn.btn_register(href="") Iniciar sesión
					a.purple_link.bold(href="") Olvidé mi contraseña
					br
					br
					a.purple_link.bold(href="") Aún no tengo cuenta como socio de 
						br
						| Coney Club
			.box_right
				h3 ¡Ahora recárgate de diversión con un solo click!
				p Te invitamos a ser parte de Coney Club y a realizar todas tus recargas de una manera más rápida, sin necesidad de hacer colas, además, tendrás promociones exclusivas que no te puedes perder.
				p.bold Recargas S/.100 y obtén S/.25 Coney Bonus
				.box_rectangle
				p.bold Recargas S/.100 y obtén S/.25 Coney Bonus
				.box_rectangle