extends layout/layout.jade
block section
	section.app_content.recargas
		.box_center
			.app_box
				.menu.right_active
					ul
						li.first Beneficios
						li Mis tarjetas
						li.last.active Recargas
				.purple_box
					p.yellow_text.small_text Recarga de mis tarjetas
					.steps
						.step.active 1
						.step.active 2
					a.cart_box(href="")
						span.label Items en el carrito:
						.cart
							span.icon
							span.number 0
					.pay_box_white
						.left
							h4 1. Datos del Pago
							p Datos solicitados para la generación del comprobante
							.error_message
								span.icon
								p Lo sentimos, no se pudo completar el proceso, por favor inténtelo más tarde.
							.voucher
								input(type="radio" name="voucher_option" class="boleta" checked) 
								| Boleta
								input(type="radio" name="voucher_option" class="factura") 
								| Factura
							.content_boleta
								.form_control
									label(for="") Nombre
									input(type="text" placeholder="Andrea")
								.form_control
									label(for="") Apellido paterno
									input(type="text" placeholder="Delgado")
								.form_control
									label(for="") Apellido materno
									input(type="text" placeholder="Delgado")
								.form_control
									label(for="") DNI/Pasaporte
									input(type="text" placeholder="12345678")
							.content_factura
								.form_control
									label(for="") Perfil de pago
									select(name="")
										option(value="") Seleccione
										option(value="") 1
								.form_control
									label(for="") Razón Social
									input(type="text")
								.form_control
									label(for="") RUC
									input(type="text")
								.form_control
									label(for="") Dirección fiscal
									input(type="text")
								.form_control
									label(for="") Dirección de entrega de factura
									input(type="text")
								.form_control
									input(type="checkbox")
									| Misma dirección fiscal
								.form_control
									label(for="") Distrito
									select(name="")
										option(value="") Seleccione
										option(value="") Lima
										option(value="") Breña
						.right
							h4 2. Seleccione el método de pago
							.credit_cards
								.card.pagoefectivo.active
								.card.visa
								.cards_option
									input(type="radio" name="metodo_pago" class="pe" checked)
									input(type="radio" name="metodo_pago" class="visa")
							h4 3. Confirma tu compra
							.items_cart
								.item
									.left
										img(src="../images/card_mini_1.png", alt="")
									.right
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											span.icon_card
											span.card_name Tarjeta para cumpleaños
											span.cant Cantidad: 01
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 50
											| .00
								.item
									.left
										img(src="../images/card_mini_2.png", alt="")
									.right
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											span.icon_card
											span.card_name Tarjeta para Pamela
											span.cant Cantidad: 01
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 30
											| .00
								.item
									.left
										img(src="../images/card_mini_3.png", alt="")
									.right
										h5 Recarga 1 
											span . 
											span.legal Ver legal
										h4.item_title Recarga 
											strong S/. 100 
											span y obten 
											strong S/. 50 
											span soles adicionales + 
											strong S/. 30 
											span en Coney Bonos
										.card_type
											span En:
											span.icon_card
											span.card_name Tarjeta para Giuliano
											span.cant Cantidad: 01
										.detail
											.line
												.left Coney Bonus
												.right S/. 30
											.line
												.left Coney Bonus Plus
												.right S/. 15
											.line
												.left Tickets
												.right 12
										.link_show
											.watch_detail Ver detalle
											.hidden_detail Ocultar detalle
										.total S/. 
											span 20
											| .00
							.total_box(align="center")
								h3
									span Pago total: 
									span.medium S/. 
									span.large 150
									span.medium .00
								button.btn.btn_orange Pagar
								a.link_orange(href="") Seguir comprando  








					
			