extends layout/layout.jade
block section
	section
		.box_center
			.box_signin
				h3 Completa tu registro
				form(action="")
					p.bold Tus datos de cuenta
					.box_form
						label.left(for="") Correo*
						input.right.purple_light(type="text")
					.box_form
						label.left(for="") Contraseña*
						input.right.purple_light(type="text")
					.box_form
						label.left(for="") Repetir contraseña*
						input.right.purple_light(type="text")
					p.bold Tus datos personales
					.box_form
						label.left(for="") Nombres*
						input.right.purple_light(type="text")
					.box_form
						label.left(for="") Apellido paterno*
						input.right.purple_light(type="text")
					.box_form
						label.left(for="") Apellido materno*
						input.right.purple_light(type="text")
					.box_form
						label.left(for="") Documento de identidad*
						.right
							select.dni_type.purple_dark(name="")
								option(value="") DNI
								option(value="") Pasaporte
							input.dni_number.purple_light(type="text")
					.box_form
						label.left(for="") Pais*
						.right
							select.large.purple_dark(name="")
								option(value="") Perú
								option(value="") Argentina
								option(value="") Colombia
								option(value="") Chile
					.box_form
						label.left(for="") Departamento*
						.right
							select.large.purple_dark(name="")
								option(value="") Lima
								option(value="") Ancash
								option(value="") La Libertad
								option(value="") Arequipa
					.box_form
						label.left(for="") Distrito*
						.right
							select.large.purple_dark(name="")
								option(value="") San Miguel
								option(value="") Breña
								option(value="") San Juan de Lurigancho
					.box_form
						label.left(for="") Fecha de nacimiento*
						.right
							select.purple_dark.day(name="")
								option(value="") Día
								option(value="") 1
								option(value="") 2
								option(value="") 3
								option(value="") 4
								option(value="") 5
							select.purple_dark.month(name="")
								option(value="") Mes
								option(value="") Enero
								option(value="") Febrero
								option(value="") Marzo
								option(value="") Abril
								option(value="") Mayo
							select.purple_dark.year(name="")
								option(value="") Año
								option(value="") 1990
								option(value="") 1991
								option(value="") 1992
								option(value="") 1993
								option(value="") 1994
					.box_form
						p.right Al registrarse aceptas los 
							a.purple_link(href="") términos y condiciones
							| &#32;y 
							a.purple_link(href="") política de privacidad
					.box_form
						input.right.btn_signin(type="submit" value="Completar mi registro")
					.box_form
						.right
							a.purple_link(href="") Ya tengo una cuenta en Coney Park 

					