html
	head
		title Coney Park - Términos y condiciones
		meta(name="description", content="Términos y condiciones")
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		
	body.body_informativo
		.wrapper
			header.header_informativo
				.box_center
					a(href="" class="logo")
						img(src="../images/logo.png", alt="")
					.user_option
						.user_outside
							a(href="") 
								span.text Inicia Sesión
								span.icon
						.user_inside
							ul
								li
									a(href="")
										span.icon_cart
										span.icon_counter 3
								li
									a.user_account(href="") 
										span.text Andrea 
										span.user_image
											img(src="", alt="")
										span.arrow_bottom
									a.logout(href="") Salir
			section.section_informativo
				.box_center
					.breadcrumb
						a(href="") Portada
						span > 
						span Términos y Condiciones de uso del Sitio
					.content
						p.bold.purple Vigente a partir del fecha  01 de  junio de 2016
						p.bold Esto es importante para ti:
						p Queremos siempre ofrecerte una experiencia de compra que sea  segura y divertida. Por favor revisa los Términos y Condiciones Generales y las Políticas de privacidad de ATRACCIONES CONEY ISLAND S.A.C., ya que son las condiciones de venta que rigen en sus compras en nuestro portal . Ellos establecen sus derechos y obligaciones con respecto a tus recargas, incluyendo importantes limitaciones y exclusiones. La utilización del sitio y/o sus servicios constituye la aceptación de que estas condiciones se aplican a  tus recargas, así que  asegúrate que las  entiendes antes de realizarlas.
						h2.purple Términos y condiciones de uso del sitio
						p Este documento describe los términos y condiciones generales (los “Términos y Condiciones Generales”) y las políticas de privacidad (las “Políticas de Privacidad”) aplicables al acceso y uso de los servicios ofrecidos por ATRACCIONES CONEY ISLAND S.A.C. (”los Servicios”) dentro del sitio  www.conepark.pe, sus subdominios y/u otros dominios (urls) relacionados (en adelante “coneypark.pe” o el “Sitio”), en donde éstos Términos y Condiciones se encuentren. Cualquier persona que desee acceder y/o suscribirse y/o usar el Sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales y las Políticas de Privacidad, junto con todas las demás políticas y principios que rigen coneypark.pe y que son incorporados al presente directamente o por referencia o que son explicados y/o detallados en otras secciones del Sitio. En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen en este Sitio, así como sus efectos jurídicos, quedarán regidos por estas reglas y sometidos a la legislación aplicable en Perú.
						|Los Términos y Condiciones...
						h3.purple 01. Capacidad Legal
						p.mr Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad entre estos los menores de edad o Usuarios de coneypark.pe  que hayan sido suspendidos temporalmente o inhabilitados definitivamente en razón de o dispuesto en la sección 2
						h3.purple 07. Promociones
						p.mr Las promociones que se ofrezcan en este Sitio web no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por la empresa, tales como tiendas físicas, venta telefónica, catálogos u otros, a menos que se señale expresamente en este sitio o en la publicidad que realicen las empresas para cada promoción. Cuando el Sitio ofrezca promociones que consistan en precio rebajado, se hará en el mismo portal web. El Sitio somete sus promociones y actividades promocionales al cumplimiento de las normas vigentes.
						ul
							li El uso del cupón de descuento es completamente gratuito.
							li Cuando se ofrezcan cupones de descuento, se señalará en la publicidad, el valor del cupón, la suma mínima o máxima de compra para poder redimir el bono y las fechas válidas para su redención.
			include layout/footer.jade
		//JS
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="../js/plugins/parsley.min.js")
		script(src="../js/index.js")