//FOOTER
.bg_diagonal_footer
footer
	.top
	span.logo_icon
	img.bg(src="../images/bottom.png", alt="")
	ul
		li
			a(href="") CONTACTO
		li
			a(href="") PREGUNTAS FRECUENTES
		li
			a(href="") TÉRMINOS Y CONDICIONES
	.right_options.mobile
		ul
			li
				a(href="")
					span.icon
						i(class="icon-gold")
					span.text CONEY CLUB
			li.active
				a(href="javascript:;")
					span.icon
						i.icon-conexxion
					span.text RECARGAS
			li
				a(href="")
					span.icon
						i.icon-pastel
					span.text CUMPLEAÑOS