//HEADER
header
	img.bg(src="../images/top.png", alt="")
	.box_center
		.social_icons
			a(href="")
				span.fb
			a(href="")
				span.in
		nav
			ul
				li
					a(href="")
						.icon
							i.icon-locales
						span.text LOCALES
				li
					a(href="")
						.icon
							i.icon-promociones
						span.text PROMOCIONES
				li
					a(href="")
						.icon
							i.icon-consola
						span.text NUESTRAS ATRACCIONES
				li.logo
					a(href="")
						img(src="../images/logo.png", alt="Coney Park") 
				li
					a(href="")
						.icon
							i.icon-corporativa
						span.text VENTAS CORPORATIVAS
				li
					a(href="")
						.icon
							i.icon-conexxion
						span.text TARJETA CONEXIÓN
				li
					a(href="")
						.icon
							i.icon-gold
						span.text CLIENTE GOLD