html
	head
		title Coney Park
		meta(name="description", content="Welcome")
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		
	body
		include header.jade
		.right_options
			ul
				li
					a(href="")
						span.icon
							i.icon-gold
						span.text CLIENTE GOLD
				li
					a(href="")
						span.icon
							i.icon-conexxion
						span.text RECARGAS
				li
					a(href="")
						span.icon
							i.icon-pastel
						span.text CUMPLEAÑOS
		block section
		include footer.jade
		//JS
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="../js/plugins/parsley.min.js")
		script(src="../js/index.js")