html
	head
		title Coney Park
		meta(name="description", content="Welcome")
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		
	body
		include header.jade
		.right_options
			ul
				li
					a(href="")
						span.icon.icon_gold
						span.text CLIENTE GOLD
				li
					a(href="")
						span.icon.icon_card
						span.text RECARGAS
				li
					a(href="")
						span.icon.icon_birthday
						span.text CUMPLEAÑOS
		block section
		include footer.jade
		//JS
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="../js/index.js")