.success_content
	text-align center
	.logo_exito
		display block
		width 200px
		margin 0 auto 20px
	h2
		color #5218B6
	p
		color #666666
		margin 20px 0 40px
	h5
		font-size 14px
	.print
		sprite($print)
		display block
		position absolute
		top 30px
		right 180px
		cursor pointer
	.details_confirmation
		text-align left
		padding 20px 0
		p
			margin-bottom 5px
			font-size 16px
	.resume
		width 620px
		margin 0 auto
		.head
		.body
			ul
				margin 0
				padding 0
				border-bottom 1px dashed #999999
				li
					width 20%
					padding 12px 10px
					list-style none
					display inline-block
					text-align left
					vertical-align top
					&:nth-child(2)
						width 32%
					&:nth-child(3)
						text-align center
					span
						&.name
						&.number
							display block
						&.number
							margin-top 8px
		.head
			ul
				li
					color #999999
					font-size 14px
		.body
			ul
				li
					span
						&.number
							color #999999
							font-size 14px
						&.label
							display none
		.total
			float right
			text-align right
			margin-top 10px
			font-size 16px
			font-weight bold
			margin-right 10%
	.info
		width 620px
		margin 50px auto 50px
		p
			font-size 16px
			text-align center 
		a
			display none