@require 'sprite/sprite.styl'
@font-face
	font-family 'icomoon'
	src url('../font/icomoon.eot?fz5o96')
	src url('../font/icomoon.eot?fz5o96#iefix') format('embedded-opentype'),
	    url('../font/icomoon.ttf?fz5o96') format('truetype'),
	    url('../font/icomoon.woff?fz5o96') format('woff'),
	    url('../font/icomoon.svg?fz5o96#icomoon') format('svg')
	font-weight normal
	font-style normal

body
	background url(../images/bg.jpg) repeat
.box_center
	width 960px
	margin 0 auto
	position relative
.bold
	font-weight bold
*:focus
	outline 0px
header
	img.bg
		width 100%
		min-height 200px
		position absolute
		top 0
		left 0
		z-index -1
	.social_icons
		margin-top 5px
		span
			display inline-block
			&.fb
				sprite($fb)
				margin-right 5px
			&.in
				sprite($in)
	.user_option
		position absolute
		right 0
		top 0px
		.user_outside
			display block
			a
				text-decoration none
				font-size 12px
				color #972482
				span
					vertical-align middle
					display inline-block
					&.icon
						sprite($user)
						margin-left 6px
		.user_inside
			display block
			ul
				margin 0
				padding 0
				li
					display inline-block
					&:first-child
						border-right 1px solid lightgray
						padding-right 12px
						vertical-align top
					&:last-child
						padding-left 8px
					a
						text-decoration none
						font-size 16px
						color black
						span
							vertical-align middle
							display inline-block
							&.icon_cart
								sprite($cart)
							&.icon_counter
								width 20px
								height 20px
								border-radius 12px
								text-align center
								color #972482
								background #FFBD0F
								font-size 12px
								padding-top 3px
								box-sizing border-box
								margin-left 5px
							&.user_image
								margin 0 5px
								width 22px
								height 22px
								border-radius 16px
								overflow hidden
								border 1px solid lightgray
								img
									width 100%
									height 100%
							&.arrow_bottom
								width 12px
								height 0px
								background black
								position relative
								&:after
									content ''
									position absolute
									display inline-block
									top 0
									left 0
									width 0
									height 0
									border-top solid 6px black
									border-left solid 6px transparent
									border-right solid 6px transparent
							
						&.logout
							display none
							z-index 99
							background lightgray
							color black
							font-size 12px
							padding 5px
							box-sizing border-box
							position relative
							&.active
								display block
	nav
		ul
			margin 10px 0 0
			padding 0
			text-align center
			li
				width 110px
				height 80px
				list-style none
				display inline-block
				vertical-align top
				text-align center
				a
					text-decoration none
					color #972482
					font-size 10px
					font-weight bold
					position relative
					.icon
						height 54px
						i
							font-size 36px
						span
							display block
							margin 0 auto 5px
							&.icon_local
								sprite($local)
							&.icon_offers
								sprite($promo)
							&.icon_atraction
								sprite($atraction)
							&.icon_sale
								sprite($sale)
							&.icon_card
								sprite($card)
							&.icon_gold
								sprite($gold)
				&.logo
					width 200px
					margin -10px 20px 0
					img
						width 200px
.right_options
	position fixed
	right 20px
	top 190px
	width 90px
	height 334px
	background url(../images/bg_rectangle_right.png)
	ul
		margin 0
		padding 0
		li
			display block
			list-style none
			text-align center
			width 70px
			margin 35px auto 20px
			a
				font-size 10px
				text-decoration none
				span
					&.icon
						display block
						margin 0 auto 5px
						font-size 36px
						color #646473
						&:hover
							color #972482
					&.icon_gold
						sprite($gold_gray)
					&.icon_card
						sprite($card_selected)
					&.icon_birthday
						sprite($birthday)
section
	padding-top 120px
	padding-bottom 50px
	overflow hidden
	color white
	&.app_content
		padding-top 50px
		.menu
			background #ECECEC
			display inline-block
			color black
			margin 0 auto
			position relative
			margin-bottom -14px
			ul
				margin 0
				padding 0
				li
					display inline-block
					list-style none
					padding 5px 10px
					cursor pointer
					&.first
						border-right 1px solid lightgray
						margin-right -5px
						margin-left -1px
					&.last
						border-left 1px solid lightgray
						margin-left -5px
						margin-right -1px
					&.active
						background #F7A100
					a
						text-decoration none
						color black
			&:before
				content ''
				color #ececec
				width 0
				height 0 
				border-top 14px solid transparent
				border-bottom 14px solid transparent
				border-right 14px solid #ececec
				position absolute
				left -14px
				top 0
			&:after
				content ''
				color #ececec
				width 0
				height 0 
				border-top 14px solid transparent
				border-bottom 14px solid transparent
				border-left 14px solid #ececec
				position absolute
				right -14px
				top 0
			&.left_active
				&:before
					color #F7A100
					border-right 14px solid #F7A100
			&.right_active
				&:after
					color #F7A100
					border-left 14px solid #F7A100
			
				
	h2
		font-size 32px
		span
			color #FFB000
	.welcome_box
		text-align center
		p
			&.subtitle
				font-size 20px
				line-height 32px
			&.medium
				font-size 20px
				span
					color #FFB000
					font-size 22px
			&.small
				font-size 18px
	.app_box
		padding 40px 0
		text-align center
	.yellow_box
		background #FFB000
		height 42px
		display inline-block
		padding 8px 20px
		text-align center
		box-sizing border-box
		color #470446
		font-size 24px
		font-weight bold
		margin 0 auto
		margin-bottom -20px
		z-index 999
		position relative
		margin-top 20px
		&:before
			content ''
			color #ffb000
			width 0
			height 0 
			border-top 21px solid transparent
			border-bottom 21px solid transparent
			border-right 21px solid #ffb000
			position absolute
			left -21px
			top 0
		&:after
			content ''
			color #ffb000
			width 0
			height 0 
			border-top 21px solid transparent
			border-bottom 21px solid transparent
			border-left 21px solid #ffb000
			position absolute
			right -21px
			top 0
	.btn
		border 0
		height 42px
		box-sizing border-box
		border-radius 10px
		color white
		&.btn_fb
			background #3B5998
			span
				display inline-block
				vertical-align middle
				&.icon
					sprite($fb_icon)
		&.btn_tw
			background #1B95E0
			span
				display inline-block
				vertical-align middle
				&.icon
					sprite($tw_icon)
		&.btn_orange
			background #FF5800
		&.btn_save_signin
			margin-top 20px
	.purple_box
		background #6C006C
		border-radius 20px
		padding 20px 0
		p
			margin-bottom 20px
			font-size 20px
			&.yellow_text
				color #F7A100
			&.small_text
				font-size 20px
			&.term
				font-size 12px
				a
					color white
			&.p_16
				font-size 16px
				span
					color #F7A100
		hr
			border-style dashed
			color #8C008C
		.content
			overflow hidden
			padding 20px 20px 0
			.left
			.right
				padding 0 40px 0
		.left
			width 45%
			box-sizing border-box
			text-align center
			button
				width 100%
				margin-bottom 8px
		.right
			width 45%
			box-sizing border-box
			text-align center
			button
				width 100%
		.options
			overflow hidden
			.col_3
				width 33%
				&.left
				&.right
					padding 0
				.circle
					width 150px
					height 150px
					border-radius 200px
					background #410041
					display block
					margin 0 auto
				p
					width 85%
					margin 10px auto 0
		.bar_info
			overflow hidden
			background #310041
			height 85px
			padding 22px
			box-sizing border-box
			margin-top 20px
			p
				margin 10px 0 0
			button
				span
					display inline-block
					vertical-align middle
					&.icon
						margin -7px 0px 0px 5px
						sprite($add_card)
		.benefits_offers
			width 95%
			margin 0 auto
			.offers_box_two
				overflow hidden
				.left
					width 50%
					height 220px
					background #F29224
					padding 20px
					box-sizing border-box
				.right
					padding 20px
					height 220px
					width 50%
					background white
					box-sizing border-box
					p
						color black
						&.breadcrumb
							text-align left
							color #FF0000
							font-size 16px
							a
								color #AAAAAA
								font-size 14px
								text-decoration none
					button
						width 300px
			.offers_box_three
				margin 20px 0
				overflow hidden
				.col_3
					width 32%
					.box_white
						background white
						border-radius 15px
						color black
						p
							padding 8px
							text-align left
							font-size 18px
							margin 0
							&.breadcrumb
								text-align left
								color #FF0000
								font-size 16px
								a
									color #AAAAAA
									font-size 14px
									text-decoration none
					button
						margin-top 10px
					&:first-child
						margin-right 2%	
					.image
						height 145px
						overflow hidden
						img
							width 100%
		.info_box
			text-align left
			width 100%
			padding 5px 25px
			span
				display inline-block
				vertical-align middle
				&.text
					font-size 14px
					width 60%
				&.icon
					sprite($store)
					margin-right 10px
			a.how_asociate_card
				float right
				color #ff5800
				width 30%
				text-decoration none
				margin-top 20px
		.cards_content
			width 95%
			margin 0 auto 10px
			.col_3
				width 286px
				height 188px
				display inline-block
				margin-right 10px
				margin-top 10px
				background url(../images/card_empty.png)
				position relative
				vertical-align top
				input
				button
					height 36px
				&.add_card
					cursor pointer
					background url(../images/add_card_bg.png)
					.tooltip
						display none
						position absolute
						color gray
						background white
						width 80%
						padding 10px
						text-align left
						box-sizing border-box
						left 10%
						top 160px
						z-index 9
						border-radius 8px
						font-size 14px
						&:before
							content ''
							color white
							width 0
							height 0 
							border-left 10px solid transparent
							border-right 10px solid transparent
							border-bottom 5px solid white
							position absolute
							top -5px
							left 48%
				.content_asociate_card
					background #DED7DE
					padding 15px 10px 10px
					box-sizing border-box
					border-radius 10px
					input
						margin-bottom 10px
					button
						width 100%
					.link_orange
						margin-top 8px
						color #FF5800
					display none
				.loading
					background #DED7DE
					width 100%
					height 100%
					display none
					border-radius 10px
					img
						margin-top 50px
				.success_box
				.error_box
					padding 20px 10px 10px 
					box-sizing border-box
					width 100%
					height 100%
					display none
					border-radius 10px
					a
						color white
				.success_box
					background #22B273
					.icon
						sprite($card_success)
						display block
						margin 0 auto
					h3
						font-size 24px
				.error_box
					background #F6494D
					.icon
						sprite($card_error)
						display block
						margin 0 auto
					p
						font-size 15px
					
				&.my_card
					background #EFEFEF
					border-radius 10px
					color black
					padding 15px
					box-sizing border-box
					.card_title
						width 100%
						color #1c1c1c
						display block
						margin 15px 0 10px
						font-size 19px
						.input_name
							display none
							width 80%
							background transparent
							border-bottom 1px solid lightgray
							border-radius 0
							margin -12px 0 0
							text-align left
					span
						text-align left
						&.cp_logo
							display block
							sprite($logo_2)
						
						&.edit_icon
							sprite($edit_icon)
							display inline-block
							vertical-align middle
							margin-left 5px
							float none
							cursor pointer
							&.active
								sprite($check_success)
						&.card_number
							width 100%
							color gray
					.top_card
						text-align left
						display block
					.show_more_content
						display none
						.line
							margin-bottom 10px
							overflow hidden
							display block
							.left
								width 70%
								text-align left
								color gray
								font-size 14px
								span
									background #D8D8D8
									width 18px
									height 18px
									color #6E6E6E
									border-radius 10px
									text-align center
									display inline-block
									font-size 12px
									margin-left 5px
									padding-top 2px
									box-sizing border-box
									&.active
										background #777777
										color white
							.right
								width 30%
								text-align right
							.tooltip_bonus
								display none
								font-size 12px
								width 200px
								background #E6E6E6
								border-radius 10px
								padding 10px
								box-sizing border-box
								position absolute
								z-index 9
								margin-top 25px
								&:before
									content ''
									color #E6E6E6
									width 0
									height 0 
									border-left 10px solid transparent
									border-right 10px solid transparent
									border-bottom 5px solid #E6E6E6
									position absolute
									top -5px
									left 48%
					.bottom_card
						text-align left
						margin-top 20px
						position absolute
						bottom 10px
						.price
							float left
							width 124px
							font-size 22px
							font-weight bold
							&.cero
								color #FF5800
						a
							text-decoration none
							color #FF5800
							margin-top 5px
							&.watch_more
								float left
								font-size 14px
								margin-top 6px
							&.recharge
								float right
								font-size 16px
								margin-left 10px
	input
		width 100%
		border 0
		margin-bottom 0px
		height 42px
		border-radius 10px
		padding 0px 10px
		text-align center
		&.inp_right
			width 200px
			float right
		&.disabled-email
			background #b02a98
			color lightgray
			pointer-events none
	select
		height 36px
		line-height 36px
		background url(../images/arrow_select.png) no-repeat right
		padding 0px 10px
		border 0
		color gray
		/*for firefox*/
		-moz-appearance none
		/*for chrome*/
		-webkit-appearance none
	select::-ms-expand
		display none
	.bg_white
		background white
		border-radius 20px
		select
			width 100%
		&.doc_type
			width 100px
			overflow hidden
			float left
		&.day
			width 80px
			float left
			margin-right 5px
		&.month
			width 137px
			float left
		&.year
			width 90px
			float right
	.login_link
		text-align center
		padding 20px 0 10px
		a
			color #FF5800
			text-decoration none
			font-size 18px
			span
				display inline-block
				color #FF5800
				width 0
				height 0 
				border-top 5px solid transparent
				border-bottom 5px solid transparent
				border-left 5px solid #FF5800
				margin-left 10px
				
	.left
		float left
	.right
		float right
	.offers_box
		margin-top 40px
		.col_3
			width 33%
	.error_message
		background #F1222D
		opacity 0.8
		color white
		text-align center
		padding 10px
		width 650px
		margin 0 auto
		border-radius 10px
		position absolute
		left 23.5%
		span
			display inline-block
			vertical-align top
			&.icon
				sprite($close_icon)
				cursor pointer
			&.text
				margin-left 10px
				margin-top 5px
		&.hide
			display none
	.form_control
		margin-bottom 10px
	form
		h3
			color #FEB100
			margin 30px 0
			font-size 22px
		.form_control
			overflow hidden
			margin-bottom 10px
			label
				margin-top 10px
			.left
				width 35%
				text-align left
				padding 0
			.right
				width 63%
				padding 0
				.button
					width 100%
					margin-top 20px
		&.signin_form
			.content_form
				width 500px
				margin 30px auto
				input
					height 36px
footer
	display block
	img.bg
		width 100%
		z-index -1
	ul
		padding 0
		margin-top -40px
		text-align center
		li
			list-style none
			display inline-block
			margin 0 5px 
			a
				color #972383
				text-decoration none
				font-size 12px


//modal
/* Z-index of #mask must lower than #boxes .window */
#mask
	position absolute
	z-index 9000
	background-color #000
	display none
	top 0
	left 0

.modal_box
	position absolute
	width 440px
	height 200px
	display none
	z-index 9999
	.modal_content
		padding 20px
		width 400px
		margin 200px auto 0
		span.icon_logo
			sprite($logo_2)
			display block
			margin 0 auto
		h3
			color #FEB200
			font-size 28px
			font-weight bold
		input
			width 400px
		button
		a
			width 400px
			text-decoration none
			display block
		&.modal_recovery_content
			text-align center
#modal_new_password
	.modal_content
		margin-top 150px
/* Customize your modal window here, you can add background image too */
#modal_recovery_password
#modal_recovery_response
#modal_new_password
#modal_new_password_response
#modal_response_signin
#modal_watch_legal
	width 651px
	height 686px
	background url(../images/modal_bg.png)
#modal_watch_legal
	.modal_content
		border-radius 8px
		width 600px
		height 200px
		background lightgray
		color black
		font-size 12px
		h3
			color black
			font-size 16px
			margin 0
		.text_box
			overflow-y scroll
			height 180px
#how_asociate_card
	width 500px
	height 685px
	background #EEEEEE
	border-radius 10px
	.modal_content
		text-align center
		margin-top 20px
		.icon_logo
			position absolute
			top -28px
			left 46%
		h3
			color black
			font-weight normal
			font-size 24px
		p
			color gray
			text-align left
		img
			margin 0 auto


//parsley
ul.parsley-errors-list
	text-align left
	padding 0
	margin 2px 0 5px
	font-size 12px
	li
		list-style none
		color red



i[class^="icon-"]
i[class*=" icon-"] 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	display inline-block

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-email5:before 
	content "\e909"
.icon-telefono:before 
	content "\e908"
.icon-gorrita:before 
	content "\e907"
.icon-consola:before 
	content "\e900"
.icon-pastel:before 
	content "\e906"
.icon-gold:before 
	content "\e901"
.icon-conexxion:before 
	content "\e902"
.icon-corporativa:before 
	content "\e903"
.icon-promociones:before 
	content "\e904"
.icon-locales:before 
	content "\e905"
.icon-close:before 
	content "\e600"
.icon-share-android:before 
	content "\e605"
.icon-arrow_down:before 
	content "\e607"
.icon-arrow_up:before 
	content "\e608"
.icon-arrow_left:before 
	content "\e60a"
.icon-arrow_right:before 
	content "\e60b"
.icon-menu:before 
	content "\e61f"
.icon-plus:before 
	content "\ea0a"
.icon-minus:before 
	content "\ea0b"
.icon-facebook:before 
	content "\ea8c"
.icon-instagram:before 
	content "\ea90"
.icon-twitter:before 
	content "\ea91"










